@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap");

body {
    background: #E8EBF5;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.chat-box {
    height: 90%;
    width: 400px;
    position: absolute;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 15;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.005);
    right: 0;
    bottom: 0;
    margin: 15px;
    border-radius: 15px;
    visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.chat-box-header {
    height: 8%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    font-size: 14px;
    padding: 0.5em 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 -1px 10px rgba(53, 51, 181, 0.3), 0 1px 10px rgba(0, 0, 0, 0.025);
    color:#fff;
    background: linear-gradient(135deg, #2940a8, #e8dd3b);
}

.chat-box-header h3 {
    font-family: ubuntu;
    font-weight: 400;
    float: left;
    position: absolute;
    left: 25px;
}

.chat-box-header p {
    float: right;
    position: absolute;
    right: 16px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 3.25;
    margin: 0;
}

.chat-box-body {
    display: flex;
    flex-direction: column;  /* Stacks child elements (messages) vertically */
    overflow-y: scroll;      /* Allows scrolling when content overflows */
    padding: 12px;
    background: #f8f8f8;    /* Background color of the chat area */
    height: 75%;             /* Adjust as necessary to fit your design */
}

.chat-box-body::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}

.chat-box-body-send {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 14px;
}

.chat-box-body-send, .chat-box-body-receive {
    transition: background-color 0.3s ease-in-out;
}

.chat-box-body-send p,
.chat-box-body-send span,
.chat-box-body-receive p,
.chat-box-body-receive span {
    margin: 0;
    font-size: 14px;
}

.chat-box-body-send span {
    float: right;
    color: whitesmoke;
    font-size: 10px;
}

.chat-box-body-receive span {
    float: right;
    color: #777;
    font-size: 10px;
}

.chat-box-body-receive {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.chat-bot-icon-container {
    flex-shrink: 0;
    margin-right: 0px;
    width: auto;
    height: auto;
}


.chat-message-container {
    flex-grow: 1;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box-body-receive img.chatbot-icon {
    width: 30px; /* Set the size of the icon */
    height: auto;
    margin-right: 8px; /* Space between the icon and the message */
}

.chat-box-footer {
    position: relative;
    display: flex;
    background: #f8f8f8
}

.chat-box-footer button,
.chat-box-footer .send {
    border: none;
    padding: 16px;
    font-size: 14px;
    background: white;
    cursor: pointer;
    color: black;
}

.chat-box-footer button:focus,
.chat-box-footer .send:focus {
    outline: none;
}

.chat-box-footer input {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: rgb(238, 237, 237);
    margin: 10px;
    font-family: ubuntu;
    font-weight: 600;
    color: #444;
    width: 320px;
}

.chat-box-footer input:focus {
    outline: 1px solid #aaa; /* Skinnier and lighter outline */
    outline-offset: 2px; /* Optional: Adjusts the space between the border and the outline */
}

.chat-box-footer .send {
    cursor: pointer;
    background: transparent; /* Removes any background color */
    border: none; /* Removes border */
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
    display: inline-flex; /* Utilizes flexbox for alignment */
    align-items: flex-end; /* Vertically centers the icon in the button */
    justify-content:flex-end; /* Horizontally centers the icon in the button */
}

.chat-button {
    padding: 25px 16px;
    background: #2C50EF; /* Enhanced button styling */
    transition: background-color 0.3s;
    width: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 2px 15px rgba(44, 80, 239, 0.21); /* Converted #2C50EF to its RGB equivalent */
    cursor: pointer;
}

.chat-button:hover {
    background: #1a34c8; /* Darker shade on hover */
}

.chat-button span::before {
    content: "";
    height: 15px;
    width: 15px;
    background: #47cf73;
    position: absolute;
    transform: translate(0, -7px);
    border-radius: 15px;
}

.chat-button span::after {
    content: "Message Us";
    font-size: 14px;
    color: white;
    position: absolute;
    left: 50px;
    top: 18px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.modal-close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 30;
}

@media only screen and (max-width: 450px) {
    .chat-box {
        min-width: 100% !important;
    }
}
